.bio-container {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.bio-title h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.bio-title p {
  color: rgb(233, 180, 34);
}

.bio-button {
  font-size: 16px;
  color: #fff;
  background-color: #ffaa0d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.bio-button:hover {
  opacity: 0.7;
  color: white !important;
}

.bio-image {
  width: 100%;
  max-width: 500px; 
  margin-top: 20px;
}

.bio-image img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

@media only screen and (min-width: 768px) {
  .bio-container {
    flex-direction: row;
    text-align: left;

  }

  .bio-title {
    width: 50%;
  }

  .bio-image {
    width: 50%;
    margin-top: 0;
  }

  .bio-image img {
    width: 100%;
    height: auto;
  }
}
