.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
form h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ffaa0d;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  padding: 20px;
  overflow: hidden;
}
.input__container {
  width: 100%;
  margin: 8px;
}
.input__container input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
textarea {
  padding: 10px;
}
button {
  font-size: 16px;
  color: #fff;
  background-color: #ffaa0d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 40%;
}

button:hover {
  opacity: 0.7;
  color: white !important;
}

@media only screen and (min-width: 768px) {
  form {
    width: 75%;
  }
  .input__container {
    width: 50%;
  }
  button {
    width: 20%;
  }
}
