body {
  background-color: black; /* تغییر پس‌زمینه به مشکی */
  color: white; /* تغییر رنگ متن به سفید برای نمایش بهتر */
}
.products__container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
}

.products__flex {
  grid-template-columns: 1fr;
}

.products__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ffaa0d;
}

/* کارت محصول */
.card__container {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* جزئیات کارت */
.card__details {
  padding: 15px;
  border-radius: 8px;
  background-color: #444;
}

/* محتوای کارت محصول */
.card__product {
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: #555;
}
.card__product {
  line-height: 2;
}

.about__container {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.about__details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  padding: 20px 0;
  color: white;
  text-align: justify;
}

.about__details h2 {
  color: #ffaa0d;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .products__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .products__flex {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
